In [2]:
import numpy as np
import pandas as pd
import json

### LOAD MAIN DATA

In [3]:
dfus = pd.read_csv("data_tableau.csv")

In [4]:
dfus["category_id"].isna().sum()
dfus.shape
dfus.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'description', 'Country'],
      dtype='object')

In [5]:
dfus["tags"].head(3)

0    Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
1    plush|"bad unboxing"|"unboxing"|"fan mail"|"id...
2    racist superman|"rudy"|"mancuso"|"king"|"bach"...
Name: tags, dtype: object

### CLEAN MAIN DATA

In [6]:
dfus=dfus.iloc[dfus["category_id"].dropna().index].reset_index(drop=True)

In [7]:
dfus.isna().sum()
dfus.shape

(222833, 13)

In [10]:
dfus=dfus.iloc[dfus.dropna().index].reset_index(drop=True)

In [11]:
dfus.isna().sum()
dfus.shape

(213385, 13)

In [12]:
dfus['tags'] = dfus['tags'].str.replace('"','')

In [13]:
dfus.columns
dfus["category_id"] = dfus["category_id"].round(0).astype(int)

In [14]:
dfus["Country_Category"] = dfus['Country'] + " " + dfus['category_id'].astype(str)
dfus.head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,description,Country,Country_Category
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10T17:00:03.000Z,Eminem|Walk|On|Water|Aftermath/Shady/Interscop...,17158579.0,787425.0,43420.0,125882.0,Eminem's new track Walk on Water ft. Beyonc√© i...,Canada,Canada 10
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,plush|bad unboxing|unboxing|fan mail|idubbbztv...,1014651.0,127794.0,1688.0,13030.0,STill got a lot of packages. Probably will las...,Canada,Canada 23
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,racist superman|rudy|mancuso|king|bach|racist|...,3191434.0,146035.0,5339.0,8181.0,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...,Canada,Canada 23

### LOAD CATEGORY DATA

In [15]:
fileNames = ['US_category_id.json', 
             'CA_category_id.json', 
             'JP_category_id.json', 
             'DE_category_id.json',
             'FR_category_id.json',
             'GB_category_id.json']

In [16]:
dfMergedCategories = pd.DataFrame()
rowNumber = 0

for i in fileNames:
    df = pd.read_json(i)
    countryID = i[:2]
    for j in range(0, len(df)):
        newRow = pd.DataFrame({"Country": [countryID], 
                              "Category_id": [df["items"][j]["id"]],
                            "Category_Name": [df["items"][j]["snippet"]["title"]],
                              })
        # print(newRow)
        # dfMerged.append(newRow)
        if rowNumber == 0:
            dfMergedCategories = newRow
        else:
            dfMergedCategories = pd.concat([dfMergedCategories, newRow], axis=0) # ignore_index=True)
        #dfMerged = pd.concat([dfMerged, pd.DataFrame([newRow])], ignore_index=True)
        # print(newRow)
        #dfMerged.append(newRow)
        rowNumber += 1
        
#pd.DataFrame(dfMerged.reshape(2, -1), columns=cols)

In [17]:
newRow.shape
type(newRow)
dfMergedCategories.reset_index(drop=True)

dfMergedCategories['Country'] = dfMergedCategories['Country'].replace({'CA': 'Canada', 'US': 'United States','JP': 'Japan', 'DE': 'Germany', 'FR': 'France', 'GB': 'Great Britain'})
# dfMergedCategories["Country_Category"] = dfMergedCategories['Country'] + dfMergedCategories['Category_id']

# dfMergedCategories["Country_Category"] = dfMergedCategories['Country'].str.cat(dfMergedCategories['Category_id'], sep=' ++')
dfMergedCategories["Country_Category"] = dfMergedCategories['Country'] + " " + dfMergedCategories['Category_id'].astype(str)

In [18]:
dfMergedCategories.reset_index(drop=True)
dfMergedCategories.head

<bound method NDFrame.head of           Country Category_id     Category_Name  Country_Category
0   United States           1  Film & Animation   United States 1
0   United States           2  Autos & Vehicles   United States 2
0   United States          10             Music  United States 10
0   United States          15    Pets & Animals  United States 15
0   United States          17            Sports  United States 17
..            ...         ...               ...               ...
0   Great Britain          40    Sci-Fi/Fantasy  Great Britain 40
0   Great Britain          41          Thriller  Great Britain 41
0   Great Britain          42            Shorts  Great Britain 42
0   Great Britain          43             Shows  Great Britain 43
0   Great Britain          44          Trailers  Great Britain 44

[187 rows x 4 columns]>

dfus["tags"].head(10)

### MERGE CATEGORY AND MAIN DATA

In [19]:
dfCat = pd.merge(dfus, dfMergedCategories, how="left", on="Country_Category")

In [20]:
dfCat.shape
dfCat.head

<bound method NDFrame.head of            video_id trending_date  \
0       n1WpP7iowLc      17.14.11
1       0dBIkQ4Mz1M      17.14.11
2       5qpjK5DgCt4      17.14.11
3       d380meD0W0M      17.14.11
4       2Vv-BfVoq4g      17.14.11
...             ...           ...
213380  GuWCkLnCMOo      18.14.06
213381  nOUlB0i2MaA      18.14.06
213382  4cRanIowkTE      18.14.06
213383  oLtWIVBVoS8      18.14.06
213384  2IEWv23oa9E      18.14.06

                                                    title  \
0              Eminem - Walk On Water (Audio) ft. Beyonc√©
1                           PLUSH - Bad Unboxing Fan Mail
2       Racist Superman | Rudy Mancuso, King Bach & Le...
3                                I Dare You: GOING BALD!?
4             Ed Sheeran - Perfect (Official Music Video)
...                                                   ...
213380  ‡∏´‡∏ô‡∏∂‡πà‡∏á‡∏î‡πâ‡∏≤‡∏ß‡∏ü‡πâ‡∏≤‡πÄ‡∏î‡∏µ‡∏¢‡∏ß NeungDaoFahDeaw EP.15 ‡∏ï‡∏≠‡∏ô‡∏ó‡∏µ‡πà...
213381  2018 Íµ≠ÎØºÏùò ÏÑ†ÌÉù - ÏÑ†Í±∞Î∞©ÏÜ° 'ÏôïÏùò Í∑ÄÌôò' 12ÏãúÍ∞Ñ Ïó∞ÏÜç ÏÉùÏ§ëÍ≥Ñ! (ÌíÄÏòÅÏÉÅ) ...
213382            ÂÖÉFBI„Ç®„Éº„Ç∏„Çß„É≥„Éà„ÅåÊïô„Åà„Çã„ÄÅ200ÔºÖ‰∫∫„ÇíÂºï„Åç‰ªò„Åë„Çã„Çà„ÅÜ„Å´„Å™„Çã„Ç≥„ÉÑ„ÄÅ„Éà„ÉÉ„Éó10
213383     Êó•Êú¨√ó„Éë„É©„Ç∞„Ç¢„Ç§ÂæπÂ∫ïÂàÜÊûê&„Çπ„Éö„Ç§„É≥‰ª£Ë°®Áõ£Áù£Ëß£‰ªª‰∫ã‰ª∂„ÇíËß£Ë™¨„Äê„Éà„Éº„ÇØthe„Éï„ÉÉ„Éà„Éú„Éº„É´„Äë#683
213384                             „Ç®„Çµ„ÅÆ„Ç≥„Ç™„É≠„ÇÆ„Å´Â§¢‰∏≠„Åß‰∫åÊú¨Ë∂≥„ÅßÁ´ã„Å§„Ç´„É°„É¨„Ç™„É≥

                      channel_title  category_id              publish_time  \
0                        EminemVEVO           10  2017-11-10T17:00:03.000Z
1                         iDubbbzTV           23  2017-11-13T17:00:00.000Z
2                      Rudy Mancuso           23  2017-11-12T19:05:24.000Z
3                          nigahiga           24  2017-11-12T18:01:41.000Z
4                        Ed Sheeran           10  2017-11-09T11:04:14.000Z
...                             ...          ...                       ...
213380                  Ch3Thailand           24  2018-06-13T17:00:01.000Z
213381                       SBS Îâ¥Ïä§           25  2018-06-13T19:10:31.000Z
213382  „Éñ„É©„Ç§„Éà„Çµ„Ç§„Éâ | Bright Side Japan           26  2018-06-13T14:00:02.000Z
213383          Leo the football TV           17  2018-06-13T13:56:47.000Z
213384                    Èá£„Çä„Çà„ÅãHOUSE           24  2018-06-13T09:00:00.000Z

                                                     tags       views  \
0       Eminem|Walk|On|Water|Aftermath/Shady/Interscop...  17158579.0
1       plush|bad unboxing|unboxing|fan mail|idubbbztv...   1014651.0
2       racist superman|rudy|mancuso|king|bach|racist|...   3191434.0
3       ryan|higa|higatv|nigahiga|i dare you|idy|rhpc|...   2095828.0
4       edsheeran|ed sheeran|acoustic|live|cover|offic...  33523622.0
...                                                   ...         ...
213380  ‡∏´‡∏ô‡∏∂‡πà‡∏á‡∏î‡πâ‡∏≤‡∏ß‡∏ü‡πâ‡∏≤‡πÄ‡∏î‡∏µ‡∏¢‡∏ß|NeungDaoFahDeaw|‡πÄ‡∏à‡∏°‡∏™‡πå ‡∏à‡∏¥‡∏£‡∏≤‡∏¢‡∏∏...     81321.0
213381  Îâ¥Ïä§|NEWS|news|SBS|sbs|SBS NEWS|SBS8NEWS|SBSÎâ¥Ïä§|S...    433188.0
213382  ‰∫∫„ÄÖ„ÇíÈ≠Ö‰∫Ü„Åô„ÇãÊñπÊ≥ï|È≠ÖÂäõÁöÑ„Å´„Å™„Çã„Å´„ÅØ|ÊàêÂäü„ÅÆÁßòË®£|Á∞°Âçò„Å™„Éà„É™„ÉÉ„ÇØ|‰∫∫„Åã„ÇâÂ•Ω„Åã„Çå„Çã„Å´„ÅØ|„Åï„Åï„ÇÑ...     39235.0
213383  WÊùØ|„ÉØ„Éº„É´„Éâ„Ç´„ÉÉ„Éó|Ëπ¥ÁêÉ|ÊÄùÊÉ≥ÂÆ∂|„É©„Ç∏„Ç™|„Éä„Éù„É™|„É©„Ç§„Éó„ÉÑ„Ç£„Éí|„Éà„ÉÉ„ÉÜ„Éä„É†|„Çµ„ÉÉ„Ç´„Éº|„Éã„É•...     49900.0
213384                          „Çà„Éº„Çâ„ÅÑ|‰ΩêË≥Ä„Çà„Åã„Åß„Åó„Çá„ÅÜ|Èá£„Çä„Çà„Åã„Åß„Åó„Çá„ÅÜ|Èá£„Çä     46265.0

            likes  dislikes  comment_count  \
0        787425.0   43420.0       125882.0
1        127794.0    1688.0        13030.0
2        146035.0    5339.0         8181.0
3        132239.0    1989.0        17518.0
4       1634130.0   21082.0        85067.0
...           ...       ...            ...
213380      321.0      17.0           61.0
213381        0.0       0.0          175.0
213382     1194.0      27.0           46.0
213383      431.0      66.0          336.0
213384      816.0      40.0           59.0

                                              description Country_x  \
0       Eminem's new track Walk on Water ft. Beyonc√© i...    Canada
1       STill got a lot of packages. Probably will las...    Canada
2       WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...    Canada
3       I know it's been a while since we did this sho...    Canada
4       üéß: https://ad.gt/yt-perfect\nüí∞: https://atlant...    Canada
...                                                   ...       ...
213380  ‡∏´‡∏•‡∏±‡∏á‡∏à‡∏ö‡∏•‡∏∞‡∏Ñ‡∏£‡∏ó‡∏≤‡∏á‡∏´‡∏ô‡πâ‡∏≤‡∏à‡∏≠‡∏ó‡∏µ‡∏ß‡∏µ ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏£‡∏±‡∏ö‡∏ä‡∏°‡πÑ‡∏î‡πâ‡∏≠‡∏µ‡∏Å‡∏Ñ‡∏£‡∏±‡πâ‡∏á...     Japan
213381  ÏÑ†Í±∞Î∞©ÏÜ°Ïùò Î™ÖÍ∞Ä' SBSÍ∞Ä Ïò®Îã§! SBSÍ∞Ä Ï†ú 7Ìöå Ï†ÑÍµ≠ÎèôÏãúÏßÄÎ∞©ÏÑ†Í±∞(6¬∑13 ÏßÄÎ∞©ÏÑ†...     Japan
213382  ÂÖÉFBI„Ç®„Éº„Ç∏„Çß„É≥„Éà„ÄÅ„Ç∏„É£„ÉÉ„ÇØÔΩ•„Ç∑„Çß„Éº„Éï„Ç°„ÉºÂåªÂ∏´„ÅåÊòé„Åã„Åô„ÄÅ‰∫∫„Å´200ÔºÖÈ≠ÖÂäõÁöÑ„Å´Ë¶ã„Åõ„Çã„Éà„É™„ÉÉ„ÇØ...     Japan
213383  „ÄåÔºíÔºêÔºëÔºòÔº∑ÊùØ„É≠„Ç∑„Ç¢Â§ß‰ºöÊó•Êú¨‰ª£Ë°®Êà¶„É©„Ç§„É¥„Ç§„Éô„É≥„Éà„ÄçÊó•Êú¨‰ª£Ë°®„ÅÆ„Ç∞„É´„Éº„Éó„É™„Éº„Ç∞ÔºìË©¶Âêà„ÇíLeo t...     Japan
213384  ‰ΩøÁî®„Åó„ÅüÁâ©https://amzn.to/2JwOEPG„É°„Ç§„É≥„ÉÅ„É£„É≥„Éç„É´„ÄÄÈá£„Çä„Çà„Åã„Åß„Åó„Çá„ÅÜh...     Japan

       Country_Category Country_y Category_id    Category_Name
0             Canada 10    Canada          10            Music
1             Canada 23    Canada          23           Comedy
2             Canada 23    Canada          23           Comedy
3             Canada 24    Canada          24    Entertainment
4             Canada 10    Canada          10            Music
...                 ...       ...         ...              ...
213380         Japan 24     Japan          24    Entertainment
213381         Japan 25     Japan          25  News & Politics
213382         Japan 26     Japan          26    Howto & Style
213383         Japan 17     Japan          17           Sports
213384         Japan 24     Japan          24    Entertainment

[213385 rows x 17 columns]>

In [21]:
dfCat2 = pd.DataFrame(dfCat["video_id"])
dfCat2["category_id"] = dfCat["category_id"]
dfCat2['Country'] = dfCat['Country_x']
dfCat2["tags"] = dfCat["tags"]
dfCat2["views"] = dfCat["views"]
dfCat2['likes'] = dfCat['likes']
dfCat2['dislikes'] = dfCat['dislikes']
dfCat2['comment_count'] = dfCat['comment_count']
dfCat2['Category_Name'] = dfCat['Category_Name']

In [22]:
dfCat2.head(3)

,video_id,category_id,Country,tags,views,likes,dislikes,comment_count,Category_Name
0,n1WpP7iowLc,10,Canada,Eminem|Walk|On|Water|Aftermath/Shady/Interscop...,17158579.0,787425.0,43420.0,125882.0,Music
1,0dBIkQ4Mz1M,23,Canada,plush|bad unboxing|unboxing|fan mail|idubbbztv...,1014651.0,127794.0,1688.0,13030.0,Comedy
2,5qpjK5DgCt4,23,Canada,racist superman|rudy|mancuso|king|bach|racist|...,3191434.0,146035.0,5339.0,8181.0,Comedy

### EXPLODE TAGS

In [23]:
dfCat2["tags2"] = dfCat2["tags"].str.split('|')

In [24]:
dfCat2["tags2"]
dfCat2.shape

(213385, 10)

In [25]:
dfEx = dfCat2.explode('tags2', ignore_index=True)

In [26]:
dfEx.shape

(3861510, 10)

In [27]:
dfEx["tags2"]
dfEx.columns
dfEx.head(3)

,video_id,category_id,Country,tags,views,likes,dislikes,comment_count,Category_Name,tags2
0,n1WpP7iowLc,10,Canada,Eminem|Walk|On|Water|Aftermath/Shady/Interscop...,17158579.0,787425.0,43420.0,125882.0,Music,Eminem
1,n1WpP7iowLc,10,Canada,Eminem|Walk|On|Water|Aftermath/Shady/Interscop...,17158579.0,787425.0,43420.0,125882.0,Music,Walk
2,n1WpP7iowLc,10,Canada,Eminem|Walk|On|Water|Aftermath/Shady/Interscop...,17158579.0,787425.0,43420.0,125882.0,Music,On

In [28]:
#dfEx2 = dfEx.drop(["tags", "description"], axis=1)
dfEx2 = dfEx.drop(["tags"], axis=1)
dfEx2.head(3)

### EXPORT

In [31]:
dfEx2.to_csv("data_tableau_exploded.csv", sep=";")